---
export interface Props {
  copyright?: string
  gitHubUsername?: string
  twitterUsername?: string
}

const { copyright, gitHubUsername, twitterUsername } = Astro.props as Props

const currentYear = new Date().getFullYear()
const copyrightDated = `${copyright ?? 'Chris Meagher'} &copy; ${currentYear}`

const githubUrl = gitHubUsername ? `https://github.com/${gitHubUsername}` : null

const twitterUrl = twitterUsername
  ? `https://twitter.com/${twitterUsername}`
  : null

const hasLinks = githubUrl || twitterUrl
---

<footer class="footer">
  <p set:html={copyrightDated} />
  {
    hasLinks && (
      <ul>
        <>
          {githubUrl && (
            <li>
              <a href={githubUrl}>GitHub</a>
            </li>
          )}
          {twitterUrl && (
            <li>
              <a href={twitterUrl}>Twitter</a>
            </li>
          )}
        </>
      </ul>
    )
  }
</footer>

<style lang="scss">
  .footer {
    padding: var(--size-3) var(--size-4);
  }
</style>
