---
import { getGlobal } from '@features/common/api'
import Header from './Header.astro'
import Footer from './Footer.astro'

const global = await getGlobal()

if (!global) {
  throw Error(`'Global' story not found.`)
}

const { logo, main_nav, copyright, github_username, twitter_username } =
  global.content
---

<Header logo={logo} mainNav={main_nav} />
<main>
  <slot />
</main>
<Footer
  copyright={copyright}
  gitHubUsername={github_username}
  twitterUsername={twitter_username}
/>
