---
import type { GlobalStory } from '~/features/common/api'
import Header from './Header'
import Footer from './Footer.astro'

export interface Props {
  global: GlobalStory
}

const { global } = Astro.props as Props

const { logo, main_nav, copyright, github_username, twitter_username } =
  global.content
---

<Header logo={logo} mainNav={main_nav} client:load />
<main>
  <slot />
</main>
<Footer
  copyright={copyright}
  gitHubUsername={github_username}
  twitterUsername={twitter_username}
/>
