---
import type { GlobalStory } from '~/features/common/api'
import Header from './Header'
import Footer from './Footer'

export interface Props {
  global: GlobalStory
  currentUrl?: URL
}

const { global, currentUrl } = Astro.props as Props

const { logo, main_nav, copyright, github_username, twitter_username } =
  global.content
---

<Header client:idle logo={logo} mainNav={main_nav} currentUrl={currentUrl} />
<main class="main">
  <slot />
</main>
<Footer
  copyright={copyright}
  gitHubUsername={github_username}
  twitterUsername={twitter_username}
/>

<style lang="scss">
  .main {
    flex-grow: 1;
    padding: var(--size-3) var(--size-4);
  }
</style>
