---
import type { ArticleStory } from '../api'
import { getStoryUrl } from '@features/storyblok/url'
import RichText from '@features/storyblok/rich-text/RichText/index.astro'
import { getStoryDate } from '@features/storyblok/date'

export interface Props {
  article: ArticleStory
}

const { article } = Astro.props as Props

const { title, summary } = article.content

const url = getStoryUrl(article)

const articleDate = getStoryDate(article).toDateString()
---

<div>
  <h2><a href={url}>{title}</a></h2>
  <p><time datetime={articleDate}>{articleDate}</time></p>
  <RichText richText={summary} />
</div>
